<p>The best way to interact today</p>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>

<div class="center hero-unit">

  

  <h1>Welcome to the e-Micro-Blog</h1>
  <h2>Home Page</h2>

  <h3>e-Micro-Blogg offers an easy way to collaborate, discuss, or share your thoughts with others. Sign in or Sign Up below if you do not have an account with us yet.</h3>

   <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item"><%= link_to image_tag("blogpage.jpg", alt: "Rails"), 'http://rubyonrails.org/' %></div>

    <div class="active item"><%= link_to image_tag("blog1.jpg", alt: "Rails"), 'http://rubyonrails.org/' %></div>

    <div class="active item"><%= link_to image_tag("blog2.jpg", alt: "Rails"), 'http://rubyonrails.org/' %></div>
    
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <script>
        $('.carousel').carousel({
    interval: 3500
    })
    </script>

    

<% end %>